.body.header-margin-top-bread-crumb
  - title = @post.the_title
  = render 'partials/bread_crumb', locals: {menu: title, sub_menu: title}
  #align-center.margin-feature
    = image_tag @post.the_thumb_url, { size: '90x90', class: 'img-fluid' }
    %h1#feature-content
      = title
    = fix_new_line_space(raw(@post.the_content))