.container
  .row
    .col-lg-12.text-center#about
      %h2.word-rotator-title.mb-4
        = @post.the_field('about-start-sentence') unless @post.the_field('about-start-sentence') == ''
        - unless @post.the_fields('about-slider').join('') == ''
          %strong.inverted.inverted-primary
            %span.word-rotator{"data-plugin-options" => "{'delay': 2000, 'animDelay': 300}"}
              %span#js-rotating-about
                = @post.the_fields('about-slider').join(',')
      = raw @post.the_content