%section.call-to-action.call-to-action-default.with-button-arrow.content-align-center.call-to-action-in-footer
  .container
    .row
      .call-to-action-content
        %h3
          = @post.the_field('about-footer-main-sentence-content')
        %p.mb-0
          = @post.the_field('about-footer-sub-sentence-content')