#googlemaps.google-map
.container.headerMarginTop
  .row
    .col-lg-12
      %h4.heading-primary.mt-4
        Get in
        %strong Touch
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      %hr/
      %h4.heading-primary
        The
        %strong Office
      %ul.list.list-icons.list-icons-style-3.mt-4
        %li
          %i.fa.fa-map-marker
          %strong Address:
          1234 Street Name, City Name, United States
        %li
          %i.fa.fa-phone
          %strong Phone:
          (123) 456-789
        %li
          %i.fa.fa-envelope
          %strong Email:
          %a{:href => "mailto:mail@example.com"} mail@example.com
      %hr/
      %h4.heading-primary
        Business
        %strong Hours
      %ul.list.list-icons.list-dark.mt-4
        %li
          %i.fa.fa-clock-o
          Monday - Friday - 9am to 5pm
        %li
          %i.fa.fa-clock-o
          Saturday - 9am to 2pm
        %li
          %i.fa.fa-clock-o
          Sunday - Closed
