%section.section.section-custom-map{ :style => "background-image: url('#{current_site.the_post('home').the_field('home-background-image')}');"  }
  %section.section.section-default.section-footer
    .container
      .row
        = render 'partials/home_latest_blog_post'
        = render 'partials/home_what_clients_say'