%section.section.section-custom-map
  %section.section.section-default.section-footer
    .container
      .row
        = render 'partials/home_latest_blog_post'
        = render 'partials/home_what_clients_say'