.col-lg-6
  %h2
    %strong What
    Client’s Say
  .row
    .owl-carousel.owl-theme.mb-0{"data-plugin-options" => "{'items': 1}"}
      - posts = current_site.the_post_type('home-what-clients-say').the_posts.visible_frontend.decorate
      - posts.each do |client_say|
        %div
          .col
            .testimonial.testimonial-primary
              %blockquote
                %p
                  = client_say.the_field('what-client-say')
              .testimonial-arrow-down
              .testimonial-author
                .testimonial-author-thumbnail.img-thumbnail
                  = image_tag client_say.the_field('client-image')
                %p
                  %strong
                    = client_say.the_field('client-name')
                  %span
                    = client_say.the_field('client-position')