.col-lg-6
  .recent-posts.mb-5
    %h2
      Latest
      %strong Blog
      Posts
    .owl-carousel.owl-theme.mb-0{"data-plugin-options" => "{'items': 1}"}
      .row
        .col-lg-6
          %article
            .date
              %span.day 15
              %span.month Jan
            %h4.heading-primary
              %a{:href => "blog-post.html"} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero.
              %a.read-more{:href => "/"}
                read more
                %i.fa.fa-angle-right
        .col-lg-6
          %article
            .date
              %span.day 15
              %span.month Jan
            %h4.heading-primary
              %a{:href => "blog-post.html"} Lorem ipsum dolor
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.
              %a.read-more{:href => "/"}
                read more
                %i.fa.fa-angle-right
      .row
        .col-lg-6
          %article
            .date
              %span.day 12
              %span.month Jan
            %h4.heading-primary
              %a{:href => "blog-post.html"} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero.
              %a.read-more{:href => "/"}
                read more
                %i.fa.fa-angle-right
        .col-lg-6
          %article
            .date
              %span.day 11
              %span.month Jan
            %h4.heading-primary
              %a{:href => "blog-post.html"} Lorem ipsum dolor
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              %a.read-more{:href => "/"}
                read more
                %i.fa.fa-angle-right
      .row
        .col-lg-6
          %article
            .date
              %span.day 15
              %span.month Jan
            %h4.heading-primary
              %a{:href => "blog-post.html"} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero.
              %a.read-more{:href => "/"}
                read more
                %i.fa.fa-angle-right
        .col-lg-6
          %article
            .date
              %span.day 15
              %span.month Jan
            %h4.heading-primary
              %a{:href => "blog-post.html"} Lorem ipsum dolor
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.
              %a.read-more{:href => "/"}
                read more
                %i.fa.fa-angle-right