#home-intro.home-intro
  .container
    .row.align-items-center
      .col-lg-8
        %p
          = current_site.the_post('home').the_field('introdution-sentence')
          %em
            = current_site.the_post('home').the_field('big-word')
          %span
            = current_site.the_post('home').the_field('option-and-feature')
      / .col-lg-4
      /   .get-started.text-left.text-lg-right
      /     = link_to oscar_translation('ចាប់​ផ្តើ​ម​ឥឡូវ​នេះ!','Get Started Now!'), current_site.the_post('home').the_field('get-start-now'), class: 'btn btn-lg buttonLg', id: 'get-start-now'
      /     .learn-more
      /       = oscar_translation('ឬ','or')
      /       = link_to oscar_translation('ស្វែង​យល់​បន្ថែម។','learn more.'), current_site.the_post('home').the_field('learn-more')
