#exampleModal.modal.fade.bd-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
  .usaid-modal-dialog
    .modal-content.modal-lg
      .modal-header
        .col-11
          %h5.modal-title#usaid-header-center USAID Disclaimer
        .col-1
          %button.close.pull-right{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
      .modal-body
        %p
          This website is made possible with the generous support of the American people through the United States Agency for International Development (USAID). The contents are the responsibility of the authors and do not necessarily reflect the views of USAID or the United States government.
        %p
          គេហទំព័រនេះត្រូវបានផលិតឡើងក្រោមជំនួយសប្បុរស របស់ប្រជាពលរដ្ឋអាមេរិក តាមរយៈទីភ្នាក់ងារសហរដ្ឋអាមេរិក ដើម្បីអភិវឌ្ឍន៍អន្តរជាតិ​(USAID)។ ខ្លឹមសារក្នុងវីដេអូនេះ គឺជាការទទួលខុសត្រូវរបស់អ្នកនិពន្ធ និងមិនឆ្លុះបញ្ចាំងពីទស្សនៈរបស់​ USAID រឺ រដ្ឋាភិបាលសហរដ្ឋអាមេរិកឡើយ។
      .modal-footer
        %button.btn#usaid-close-modal{"data-dismiss" => "modal", :type => "button"} Close
