/* navbar */
$primary_color: #009999;
$secondary_color: #FF9900;
$Tertiary_color: #336666;

.header-logo {
  max-width: 200px;
}

/* small desktop */
@media all and (max-width: 1200px) {
  .header-logo {
    max-width: 120px;
  }
}

.shareFacebook{
  background-color: #3b5998;
  padding: 6px 6px;
  border-radius: 5px;
  margin-right: 5px;
  &:hover {
    background-color: #8b9dc3;
  }
  a {
    color: #fff;
    text-decoration: none;
    &:hover{
      color: #fff;
    }
  }
}

.pagination{
  span, em, a {
    padding: 5px 12px;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #ddd;
  }
}

.current{
  color: #fff !important;
  background-color: #007bff !important;
  border: 1px solid #007bff !important;
}

.previous_page.disabled{
  color: #ddd !important;
}

.next_page.disabled{
  color: #ddd !important;
}

.shareTwitter{
  background-color: #00aced;
  padding: 6px 6px;
  border-radius: 5px;
  margin-right: 5px;
  &:hover {
    background-color: #c0deed;
  }
  a {
    color: #fff;
    text-decoration: none;
    &:hover{
      color: #fff;
    }
  }
}

.shareLinkin{
  background-color: #007BB6;
  padding: 6px 6px;
  border-radius: 5px;
  &:hover {
    background-color: #c0deed;
  }
  a {
    color: #fff;
    text-decoration: none;
    &:hover{
      color: #fff;
    }
  }
}

.blogReadMore{
  font-size: 1.2rem !important;
  padding: 0.5rem 0.8rem !important;
  border-radius: 5px;
}

.colorPrimary{
  color: #3787c7;
}

#customer_images {
  padding-left: 15px;
  padding-right: 15px;
}

.feature-box{
  &:hover{
    background: #336666;
    & > .feature-box-info > h4 > a, p {
      text-decoration: none;
      color: white;
    }
  }
}

.headerMarginTop{
  margin-top: 120px;
}

.headerMarginTopBreadCrumb {
  margin-top: 90px;
}

.marginTopContact{
  margin-top: 90px;
}

.headerMarginTopFAQ{
  margin-top: 120px;
}
header#header .header-nav .header-nav-main .nav-pills > li > a {
 color: $primary_color;
}

header#header .header-nav .header-nav-main .nav-pills > li > a.current-link {
 color: $secondary_color;
}

header#header .header-nav .header-nav-main .nav-pills > li > a:hover {
 color: white;
 background: $primary_color;
}

#header.header-semi-transparent .header-body:before, html #header.header-semi-transparent-light .header-body:before {
  background: #fff !important;
}

ul.header-social-icons.social-icons.d-none.d-sm-block{
  li{
    a{
      color: $primary_color !important;
      &:hover{
        color: #fff !important;
      }
    }
  }
}

section.page-header{
  background-color: $primary_color;
  border-top: 5px solid $secondary_color;
  h1{
    border-bottom-color: $secondary_color;
  }
  a{
    color: $secondary_color;
  }
  li.active::before{
    color: #ddd;
  }
  .breadcrumb > .active {
    color: #ddd;
  }
}

.home-intro{
  background-color: $primary_color;
}

.home-intro p em{
  color: $secondary_color;
}

.flag-lang{
  margin-left: 20px;
  a {
    text-decoration: none;
  }
}
.paddingTestimonial{
  padding: 0 40px !important;
  font-size: 21px !important;
}

.welcomeContent{
  font-size: 21px;
}

#butonContactUs{
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.buttonLg{
  padding: 10px 16px !important;
  font-size: 18px !important;
  line-height: 1.3333333;
  border-radius: 6px;
  background-color: $secondary_color !important;
}

.inputContact{
  font-size: 1.5rem !important;
}

.learn-more{
  color: $secondary_color;
}

.home-intro .get-started a:not(.btn){
  color: $secondary_color !important;
}

.inverted{
  background-color: $primary_color;
}

.process-image{
  strong{
    color: $primary_color;
  }
}

.our-work{
  color: $primary_color !important;
}

.feature-box-info{
  h4{
    a{
      color: $primary_color !important;
    }
  }
}

.thumb-info-title{
  .thumb-info-type{
    background: $primary_color;
  }
}

.thumb-info-social-icons a{
  background-color: $primary_color;
}

#who{
  color: $primary_color;
}

#js-rotating-customer{
  color: #ddd;
}
.inverted.inverted-primary{
  background: $primary_color;
}

section.section.section-primary.mb-0{
  background-color: $primary_color !important;
  border-color: $primary_color !important;
}

.heading-primary.tall.welcomeContent{
  color: $primary_color !important;
}

.date{
  span.day{
    color: $primary_color !important;
  }
  span.month{
    background-color: $primary_color !important;
  }
}
h4.heading-primary{
  a{
    color: $primary_color !important;
  }
}
#blog, #what{
  color: $primary_color !important;
}

.testimonial.testimonial-primary{
  blockquote{
    background-color: $primary_color !important;
  }
  .testimonial-arrow-down{
    border-top-color: $primary_color !important;
  }
}

#footer .footer-ribbon{
  background: $primary_color;
  &::before{
    border-right-color: $primary_color;
    border-left-color: $primary_color;
  }
}

ul.social-icons{
  li > a > i{
    color: $Tertiary_color;
  }
  li > a:hover > i{
    color: #fff;
  }
}

#sendMessage{
  font-size: 1.6rem !important;
  padding: 0.7rem 1.5rem !important;
}