/* navbar */
.header-logo {
  width: 120px;
}

.blogReadMore{
  font-size: 1.2rem !important;
  padding: 0.5rem 0.8rem !important;
  border-radius: 5px;
}

#customer_images {
  padding-left: 15px;
  padding-right: 15px;
}

.feature-box{
  &:hover{
    background: #336666;
    & > .feature-box-info > h4 > a, p {
      text-decoration: none;
      color: white;
    }
  }
}

.headerMarginTop{
  margin-top: 120px;
}

.marginTopContact{
  margin-top: 90px;
}

.headerMarginTopFAQ{
  margin-top: 120px;
}

header#header .header-nav .header-nav-main .nav-pills > li > a.current-link {
 color: #3787c7;
}

header#header .header-nav .header-nav-main .nav-pills > li > a:hover {
 color: white;
}

.flag-lang{
  margin-left: 20px;
  a {
    text-decoration: none;
  }
}
.paddingTestimonial{
  padding: 0 40px !important;
  font-size: 21px !important;
}

.welcomeContent{
  font-size: 21px;
}

#butonContactUs{
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.buttonLg{
  padding: 10px 16px !important;
  font-size: 18px !important;
  line-height: 1.3333333;
  border-radius: 6px;
}

.inputContact{
  font-size: 1.5rem !important;
}

#sendMessage{
  font-size: 1.6rem !important;
  padding: 0.7rem 1.5rem !important;
}