@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

/*Vendor CSS */
@import 'vendor/bootstrap/css/bootstrap.min';
@import 'vendor/animate/animate.min';
@import 'vendor/owl.carousel/owl.carousel.min';
@import 'vendor/owl.carousel/owl.theme.default.min';
@import 'vendor/simple-line-icons/simple-line-icons.min';

/*_variable*/
@import 'helpers/_variable';

/*Theme CSS*/
@import 'theme/theme-blog';
@import 'theme/theme-elements';
@import 'theme/theme';


/*Current Page CSS*/
@import 'vendor/plugin/settings';
@import 'vendor/circle-flip-slideshow/css/component';


/*Theme Custom CSS*/
@import 'custom';

@import 'tooltip';

@import 'morphext';


html,
body {
  height: 100%;

  .oscar-content {
    min-height: 60%;
    position: relative;
  }

  ul[style*="list-style-type"] li a {
    color: #ff9900;
  }
}
