@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

/*Vendor CSS */
@import 'vendor/bootstrap/css/bootstrap.min';
@import 'vendor/animate/animate.min';
@import 'vendor/owl.carousel/owl.carousel.min';
@import 'vendor/owl.carousel/owl.theme.default.min';
@import 'vendor/simple-line-icons/simple-line-icons.min';

/*Theme CSS*/
@import 'theme/theme-blog';
@import 'theme/theme-elements';
@import 'theme/theme-shop';
@import 'theme/theme';

// Demo CSS
@import 'demos/demo-digital-agency';

/*Current Page CSS*/
@import 'vendor/plugin/layers';
@import 'vendor/plugin/navigation';
@import 'vendor/plugin/settings';
@import 'vendor/circle-flip-slideshow/css/component';

/*Skin CSS*/
@import 'skins/default';
// @import 'skins/skin-digital-agency';

/*Theme Custom CSS*/
@import 'custom';

@import 'tooltip';


html, body {
  height: 100%;

  .oscar-content {
    min-height: 60%;
    position: relative;
  }
}
