.container.header-margin-top-faq
  %section.page-not-found
    .row.justify-content-center
      .col-lg-7.text-center
        .page-not-found-main
          %h2
            404
            %i.fa.fa-file
          %p We're sorry, but the page you were looking for doesn't exist.
          %p#return-to-home
            = link_to "Please click this link to return Home page", '/'
